/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 1.5;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Custom Styles */
*,
*::before,
*::after {
    box-sizing: border-box;
}
/* header styling */
.header{
    background-color: #22396a;
    padding: 20px 76px;
}
.header-heading, .nav , h2{
    display: inline-block;
    color: #f1f1f1;
}
.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-heading{
    font-size: 32px;
    text-transform: uppercase;
    font-weight: 600;
}
.nav a{
    color: #f1f1f1;
    text-decoration: none;
    font-size: 22px;
    margin-left: 32px;
}
.aside{
    width: 800px;
    height: auto;
    border-radius: 10px;
    background-color: rgb(163,202,234);
    padding: 0px 50px;
    margin: 0 50px;
}
.aside-container, div, a{
    padding: 20px 0;
    text-decoration: none;
    font-weight: 900;
    font-size: 20px;
} 
.aside_btn{
    margin-top: 270px;
    border: none;
    color: #22396a;
    font-weight: bolder;
    width: 100%;
    border-radius: 8px;
    background-color: #f1f1f1;
    padding: 14px 0;
}
.button-heading{
    font-size: 16px;
    padding-left: 0;
}
 .main-container{
    display: flex;
    justify-content: space-between;
    margin: 50px 20px;
}
.section-container{
    background-color: aliceblue;
    padding: 20px 22px;
}
.section_heading{
    color: #22396a;
    font-size: 42px;
    font-weight: bolder;
}
.section-para{
    color: #22396a;
    padding: 8px 0;
    font-size: 16px;
}
.section-btn{
    background-color: rgb(69,182,103);
    border: none;
    color: #f1f1f1;
    padding: 12px 30px;
    border-radius: 5px;
    font-weight: 600;
}

/* Footer styling*/
.footer{
    background-color: #22396a;
    padding: 20px 76px;
    color: #f1f1f1;
    font-size: 22px;
}
.footer a{
    font-size: 22px;
    text-decoration: none;
    color: #f1f1f1;
    margin-left: 32px;
}

